<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="footer-widget">
                        <h4>О сайте</h4>
                        <p>Мы пишем реальные прогнозы. Ударим прогнозвми по букмекерам .</p>
                        <ul class="footer-add">
                            <li><i class="fa fa-map-marker"></i> Россия, Ставропольский край, Пятигорск</li>
                            <li><i class="fa fa-phone"></i> 1-202-555-0176</li>
                            <li><i class="fa fa-envelope-o"></i> info@bukemeker.ru</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="footer-widget">
                        <h4>Меню</h4>
                        <ul class="footer-nav">
                            <li><a href="/">Главная</a></li>
                            <li><a href="{% url 'forecasts' %}">Прогнозы</a></li>
                            <li><a href="{% url 'articles' %}">Статьи</a></li>
                            <li><a href="{% url 'histories' %}">Истории</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-6 col-sm-6">
                <p>© 2018 Права защищены Антибукмекер</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="text-right"> Разработано:  <a href="http://kmv-it.ru" target="_blank">kmv-it.ru</a> </div>
            </div>
        </div>
    </div>
</footer>
