{% extends 'base.html' %}
{% load static thumbnail %}
{% block bread %}
<!--Inner Banner Start-->
<div class="inner-banner">
    <h1>{{object}}</h1>
    <p>Complete range of products for all your needs</p>
</div>
<div class="fl-breadcrumps">
    <div class="container">
        <ul class="pull-left">
            <li> <a href="/">Главная</a> </li>
            <li> <a href="{% url 'articles' %}">Статьи</a> </li>
            <li> <a href="{% url 'article' slug=object.slug %}">{{object}}</a> </li>
        </ul>
        <a class="pull-right" href="index.html">На главную <i class="fa fa-caret-right"></i></a>
    </div>
</div>
<!--Inner Banner End-->
{% endblock %}
{% block content %}
<div class="page-wrapper">

    <!-- Blog Full Start -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                    <!--Blog Post Start-->
                    <div class="blog-post">
                        <h3><a href="#">{{object}}</a></h3>
                        <div class="blog-thumb"><img src="{{object.image.url}}" alt="{{object}}"> </div>
                        <div class="blog-content">
                            <ul class="post-tags">
                                <li><strong>Категория:</strong></li>
                                <li> <a href="#">{{object.category}}</a></li>
                            </ul>
                            {{object.body|safe}}
                        </div>
                    </div>
                    <!--Blog Post End-->





                </div>

                {% include 'include/sidebar.html' %}

            </div>
        </div>
    </div>
    <!-- Blog Full End -->

</div>

{% endblock %}
