{% extends 'base.html' %}
{% load static thumbnail comments %}
{% block bread %}
<!--Inner Banner Start-->
<div class="inner-banner">
    <h1>{{object}}</h1>
    <p>Complete range of products for all your needs</p>
</div>
<div class="fl-breadcrumps">
    <div class="container">
        <ul class="pull-left">
            <li> <a href="/">Главная</a> </li>
            <li> <a href="{% url 'articles' %}">Статьи</a> </li>
            <li> <a href="{% url 'article' slug=object.slug %}">{{object}}</a> </li>
        </ul>
        <a class="pull-right" href="index.html">На главную <i class="fa fa-caret-right"></i></a>
    </div>
</div>
<!--Inner Banner End-->
{% endblock %}
{% block content %}
<div class="page-wrapper">

    <!-- Blog Full Start -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                    <!--Blog Post Start-->
                    <div class="blog-post">
                        <h3><a href="#">{{object}}</a></h3>
                        <div class="blog-thumb"><img src="{{object.image.url}}" alt="{{object}}"> </div>
                        <div class="blog-content">
                            <ul class="post-tags">
                                <li><strong>Категория:</strong></li>
                                <li> <a href="#">{{object.category}}</a></li>
                            </ul>
                            {{object.body|safe}}
                            {% get_comment_count for object as comment_count %}.
                        </div>
                    </div>
                    <!--Blog Post End-->
                    <!--Reviews Start-->
                    <div class="post-reviews">
                        <h4 class="section-title">Отзывы</h4>
                        <div class="comments">
                          {% get_comment_list for object as comment_list %}
                            <ul>
                              {% for comment in comment_list %}
                               <li class="comment">
                                  <div class="comm-post">
                                  <div class="comm-txt"> <strong class="name">{{comment.user}}</strong> <span class="date">{{comment.submit_date}}</span>
                                      <p>{{comment.comment}}</p>
                                  </div>
                                  </div>

                              </li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!--Reviews End-->

                    <!--Reviews Form Start-->
                    <h4 class="section-title">Написать отзыв</h4>
                    <div class="review-form">
                        {% if user.is_authenticated %}
                        {% get_comment_form for object as form %}
                        <div class="row">
                        {% render_comment_form for object %}
                        </div>
                        {% else %}
                          <p>Пожалуйста <a href="{% url 'login' %}">авторизуйтесь,</a> чтобы оставлять комментарии.</p>
                        {% endif %}
                    </div>
                    <!--Reviews Form End-->
                    
                </div>
                {% include 'include/sidebar.html' %}
            </div>
        </div>
    </div>
    <!-- Blog Full End -->

</div>

{% endblock %}
