{% extends 'base.html' %}
{% load static thumbnail %}
{% block title %}
Статьи
{% endblock %}
{% block bread %}
<!--Inner Banner Start-->
<div class="inner-banner">
    <h1>Статьи</h1>
    <p>Все что нужно это поверить в себя</p>
</div>
<div class="fl-breadcrumps">
    <div class="container">
        <ul class="pull-left">
            <li> <a href="/">Главная</a> </li>
            <li> Статьи </li>
        </ul>
        <a class="pull-right" href="/">На главную <i class="fa fa-caret-right"></i></a>
    </div>
</div>
<!--Inner Banner End-->
{% endblock %}
{% block content %}
        <div class="page-wrapper">

            <!-- Blog Full Start -->
            <div class="blog-list">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                              {% for item in article_list %}
                                <!-- Post Start -->
                                <div class="blog-post">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="blog-thumb"> <a href="{% url 'article' slug=item.slug %}"><i class="fa fa-link"></i></a>
                                          {% thumbnail item.image "280x250" crop="center" as im %}
                                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt={{item}}>
                                          {% endthumbnail %}
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <div class="blog-content">
                                            <h3><a href="{% url 'article' slug=item.slug %}">{{item}}</a></h3>
                                            <ul class="post-meta">
                                                <li><i class="fa fa-calendar"></i> {{item.born}}</li>
                                                <li><i class="fa fa-folder"></i> {{item.category}}</li>
                                            </ul>
                                            <p>{{item.body|safe|slice:":300"}}...</p>
                                            <a class="detail-btn" href="{% url 'article' slug=item.slug %}">Читать</a> </div>
                                    </div>
                                </div>
                                <!-- Post End -->
                                {% endfor %}
                            </div>

                        </div>

                      {% include 'include/sidebar.html' %}

                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Full End -->
{% endblock %}
