{% load static thumbnail %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{object}}{% endblock %}</title>
    <meta name="description" content="{{object.meta_description}}">
    <link rel="icon" type="image/x-icon" href="i{% static 'mages/fav.png' %}" />
    {% include 'include/head.html' %}
</head>

<body>
    <!--Wrapper Start-->
    <div class="wrapper-full color-option-2">
       <!--Header Start-->
        {% include 'include/header.html' %}
        <!--Header End-->
        {% block bread %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% include 'include/footer.html' %}
    </div>
    <!--Wrapper Div End-->

    <!--Js Files Start-->
    {% include 'include/script.html' %}
</body>

</html>
